* {
  color: #07071f;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.articles {
  margin: 20vh 0;
}

.body {
  margin-top: 35vh;
  padding: 0 15vw;
}

.footer {
  background-color: black;
  color: white;
}

.header {
  height: 20vh;
  min-height: 120px;
  margin-bottom: 15vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.upper-header {
  background-color: #07071f;
  height: 50%;
  width: 100%;
}

.upper-header-mobile {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #07071f;
  height: 30%;
  width: 100%;
}

.lower-header {
  background-color: white;
  box-shadow: 0 4px 10px -2px gray;
  height: 50%;
  width: 100%;
}

.header-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  margin: 0 15vw;
  height: 100%;
}

.header-menu li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 4px solid transparent;
  height: 100%;
  position: relative;
  transition: border-bottom-color 0.3s ease-in-out
}

.header-menu li:hover, .header-menu li.selected {
  border-bottom: 4px solid #07071f;
}

.header-menu-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.header-menu-mobile li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  height: 50px;
  margin: 5px 0;
  font-size: 24px;
  width: 100%;
}

.header-menu-mobile li:last-child {
  border-bottom: 0;
}


.kpis-board {
  margin-bottom: 10vh;
}

.general-kpis {
  background-color: #00c3d5;
}

.men-women-kpis {
  background-color: #00c3d5;
}

.total-kpis {
  color: white;
}

/*overrides*/
ul {
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 72px;
}
